/*CSS reset settings here*/

* {
    margin: 0px;
    padding: 0px;
}

html * {
    outline: 1px dotted red;
}

#wrapper {
    width: 970px;
    height: 1000px;
    background-color: #e9e9e9;
    margin: 0 auto;
}

#header {
    width: 970px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

#header img {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-top: 20px;
    position: relative;
    top: 18px;
}

#header h1 {
    margin-left: 200px;
    width: 400px;
    display: inline-block;
    font-size: 25pt;
    margin-left: 5px;
    vertical-align: top;
    margin-top: 60px;
}

#header span {
    color: #2668a0;
}

#nav {
    background: linear-gradient(#356D9B, #5283ac, #3571a3);
    width: 970px;
    height: 40px;
    margin-bottom: 20px;
}

#nav p {
    /* background-color: #2668a0; */
    /* Standard syntax */
    /* width: 970px; */
    height: 50px;
    color: white;
    vertical-align: middle;
    font-size: 20pt;
    /* text-align: left; */
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 5px;
}

#subcontent {
    width: 300px;
    height: 600px;
    display: inline-block;
}

#subcontent h3 span {
    color: red;
}

#subcontent p span {
    color: #356D9B;
}

#subcontent p {
    color: black;
}

#subcontent watch {
    background-color: #3977ab;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    color: white;
    display: block;
}

#subcontent more {
    background-color: #ee7f00;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border-bottom: 2pt solid #dcdcdc;
}