/*CSS reset settings here*/

* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 970px;
    background-color: #1c345e;
    margin: 0px auto;
    padding: 10px;
}

#header {
    border-radius: 15px;
    height: 70px;
    width: 100%;
    background-color: #ce3036;
    margin-bottom: 20px;
    display: inline-block;
}

#header h1 {
    color: #c2d6ec;
    margin-left: 20px;
    line-height: 70px;
}

#navigation {
    border-radius: 15px;
    height: 210px;
    width: 190px;
    background-color: #2a7d8c;
    padding: 10px;
    display: inline-block;
}

#main_content {
    border-radius: 15px;
    height: 390px;
    width: 705px;
    background-color: #0e1822;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    padding: 15px;
    color: #c2d6ec
}

#main_content a {
    color: #52adc1;
}

#main_content header h2 {
    font-size: 40px;
}

#advertisement {
    border-radius: 15px;
    height: 35px;
    width: auto;
    background-color: #5e6673;
    margin: 10px;
}

#advertisement a {
    color: #52adc1;
}

#navigation ul {
    margin-left: 24px;
}

#body ul {
    margin-left: 20px;
    margin-top: 8px;
    padding-left: 30px;
}

#advertisement h2 {
    color: #c2d6ec;
    font-size: 12px;
    line-height: 35px;
    margin-left: 20px;
}

.purple {
    color: purple;
}